*.py[co]
*.egg
*.egg-info
*.mo

# packages
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/extras
/develop-eggs
/.installed.cfg

# installer logs
/pip-log.txt

# testing / coverage reports
/.coverage
/.tox

# development
/.mr.developer.cfg
/.installed.cfg
/.project
/.pydevproject
/.settings
/local.cfg

# osx
.DS_Store

# virtualenv
/.Python
/include
/lib
